* { margin: 0px;   padding: 0px;}

h1 { background-color: aqua; color: green; display: inline-block; }

div { display: inline-block; }

p { font-size: 32px; display: inline-block;}

.tamanho { width: 150px; height: 150px; }
