/* Reset da margem e do espaçamento interno */
* { margin: 0px; padding: 0px;}

main { width: 100%; height: 600px; background-color: antiquewhite; border: 2px solid black; }

h2 { width: 200px; height: 50px; background-color: aqua; border: 2px solid black; display: inline-block;}

p { width: 400px; height: 150px; background-color: chartreuse; border: 2px solid black; float: right; }

#comportamento { width: 200px; height: 50px; background-color: orange; border: 2px solid black; }

/* Area da Section */

section { width: 100%; height: 600px; background-color: lightcoral; }

.pai { width: 200px; height: 200px; background-color: green; }

.filha { width: 100px; height: 100px; background-color: blue; }