* { margin: 0px; padding: 0px; }

body { background-color: darkviolet; }

.container { margin: 10px auto; width: 700px; height: 600px; background-color:lawngreen; display: flex; flex-flow: row wrap; justify-content: space-evenly; align-items: center; align-content: space-between;}

div { padding: 60px; background-color: cyan; color: black; border-radius: 15px; font-weight: 800; border: 3px solid black; }

.item.selected { order: 1; }

.item { align-self: center; }